.header {
  background-color: brown;
  color: aquamarine;
  border: 2px solid gold;
  margin: 10px;
  padding: 10px;
}

.main {
  background-color: orange;
  border: 2px solid red;
}

.btn-primary-cutom {
  background-color: aqua !important;
  color: black !important;
}

.nav-link, .navbar-brand {
  color: white !important;
}
